* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: grid;
  place-items: center;
}

header {
  background: tomato;
  height: 100px;
}

footer {
  margin-top: auto;
  background: gold;
  height: 100px;
}
